@model Unidade

<div class="card mb-4">
    <div class="card-header">
        @if (Model.UnidadeNumero == "")
        {
            <h4>Criar nova Unidade</h4>
        }
        else
        {
            <h4>Editar Unidade</h4>

            <partial name="FeedbackMessage" />
        }
    </div>

    <div class="card-body">

        @* Display validation summary for all errors *@
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="SaveChanges" method="post">
            @* Hidden field for UnidadeID *@
            <input type="hidden" asp-for="UnidadeID" />
            @* Hidden field for CoopID *@
            <input type="hidden" asp-for="CoopID" />
            @* Hidden field for UnidadeNova *@
            <input type="hidden" asp-for="UnidadeNova" />

            <div class="form-group row mb-3">
                <div class="col-md-4">
                    <label class ="mb-0">Coop</label>
                    <input class="form-control" value="@Model.Coop?.CoopNumero - @Model.Coop?.CoopNome" readonly />
                </div>
                <div class="col-md-4">
                    <label asp-for="UnidadeNumero" class="mb-0"></label>
                    <input asp-for="UnidadeNumero" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="UnidadeNome" class="mb-0"></label>
                    <input asp-for="UnidadeNome" class="form-control" />
                </div>
            </div>
            
            <div class="form-group row mb-3">
                <div class="col-md-12">
                    <label asp-for="UnidadeObs" class="mb-0"></label>
                    <textarea asp-for="UnidadeObs" class="form-control" rows="4"></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-end align-items-center gap-2">
                <form asp-action="SaveChanges" method="post" class="mb-0">
                    <input type="hidden" asp-for="UnidadeID" />
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>

                <form asp-action="Index" method="post" class="mb-0">
                    <input type="hidden" name="CoopID" value="@Model.CoopID" />
                    <button type="submit" class="btn btn-secondary">Retornar</button>
                </form>
            </div>
        </form>
    </div>
</div>

@if (Model.UnidadeNova == false)
{
    <hr />

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4> Firewalls</h4>
            <form form asp-controller="Firewall" asp-action="ListFirewalls" method="post">
                <input type="hidden" name="CoopID" value="@Model?.CoopID" />
                <button type="submit" class="align-items-center btn btn-sm btn-secondary" style="width: 130px">
                    Todos os Firewalls
                </button>
            </form>
        </div>

        <div class="card-body">
            <partial name="Tabelas/TabelaFirewalls" model=@Model?.Firewalls />
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4> Links</h4>
            <form form asp-controller="Link" asp-action="EditLink" method="post">
                <input type="hidden" name="UnidadeID" value="@Model?.UnidadeID" />
                <button type="submit" class="align-items-center btn btn-sm btn-secondary" style="width: 130px">
                    Novo Link
                </button>
            </form>
        </div>

        <div class="card-body">
            <partial name="Tabelas/TabelaLinks" model=@Model?.Links />
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4> Vlans</h4>
            <form form asp-controller="Vlan" asp-action="EditVlan" method="post">
                <input type="hidden" name="UnidadeID" value="@Model?.UnidadeID" />
                <button type="submit" class="align-items-center btn btn-sm btn-secondary" style="width: 130px">
                    Nova Vlan
                </button>
            </form>
        </div>

        <div class="card-body">
            <partial name="Tabelas/TabelaVlans" model=@Model?.Vlans />
        </div>
    </div>
}