@model UnidadesListViewModel

<h4>Unidades - @Model.CoopAtual.CoopNumero</h4>

<partial name="FeedbackMessage" />

<partial name="Tabelas/TabelaUnidades" model=@Model />

<form form asp-action="EditUnidade" method="post">
    <input type="hidden" name="CoopID" value="@Model.CoopAtual.CoopID" />
    <button type="submit" class="align-items-center btn btn-secondary">
        Criar Novo
    </button>
</form>
