<h4>Selecione a Coop</h4>

<form asp-action="ListFirewalls" class="d-flex align-items-center">
    <select id="CoopID" name="CoopID" asp-items="ViewBag.CoopList" class="form-control mx-1">
    <</select>
    <button type="submit" class="btn btn-secondary">Selecionar</button>
</form>