@model CoopsListViewModel

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col" style="width: 8%;">Número</th>
            <th scope="col" class="text-start" style="width: 25%;">Nome</th>
            <th scope="col" class="text-start" style="width: 27%;">Responsável</th>
            <th scope="col" class="text-start" style="width: 8%;">Adesão</th>
            <th scope="col" style="width: 8%;">Firewalls</th>
            <th scope="col" style="width: 8%;">Servidores</th>
            <th scope="col" style="width: 8%;">Computadores</th>
            <th scope="col" style="width: 8%;">Editar</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model?.Coops ?? Enumerable.Empty<Coop>())
        {
            <tr>
                <th scope="row">@c?.CoopNumero</th>
                <td class="text-start">@c?.CoopNome</td>
                <td class="text-start">@c?.RespCoop?.RespNome</td>
                <td class="text-start">@c?.Adesao.ToString("dd/MM/yyyy")</td>
                <td>@c?.ReturnFirewalls()</td>
                <td>@c?.ReturnServers()</td>
                <td>@(c?.QtdCompts?.ToString() ?? "-")</td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <form form asp-controller="EditCoop" asp-action="Index" method="post">
                            <input type="hidden" name="CoopID" value="@c?.CoopID" />
                            <button type="submit" class="btn btn-sm btn-warning fa-solid fa-pen-to-square" title="Editar" />
                        </form>
                        <form form asp-controller="Unidade" asp-action="Index" method="post">
                            <input type="hidden" name="CoopID" value="@c?.CoopID" />
                            <button type="submit" class="btn btn-sm btn-info fa-solid fa-map-location-dot" title="Unidades" />
                        </form>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>