@model UnidadesListViewModel

<table class="table table-hover text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="width: 10%;">Coop</th>
            <th scope="col" style="width: 10%;">Número</th>
            <th scope="col" style="width: 10%;">Nome</th>
            <th scope="col" style="width: 60%;">Observações</th>
            <th class="text-start" scope="col" style="width: 10%;">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var u in Model.Unidades ?? Enumerable.Empty<Unidade>())
        {
                <tr>
                    <td>@u?.Coop?.CoopNumero</td>
                    <td>@u?.UnidadeNumero</td>
                    <td>@u?.UnidadeNome</td>
                    <td>@u?.UnidadeObs</td>
                    <td>
                        <div class="d-flex align-items-center gap-2">
                            <form form asp-action="EditUnidade" method="post">
                                <input type="hidden" name="CoopID" value="@Model.CoopAtual.CoopID" />
                                <input type="hidden" name="UnidadeID" value="@u?.UnidadeID" />
                                <button type="submit" class="btn btn-sm btn-warning fa-solid fa-pen-to-square" title="Editar" />
                            </form>
                            <form form asp-action="DeleteUnidade" method="post">
                                <input type="hidden" name="CoopID" value="@Model.CoopAtual.CoopID" />
                                <input type="hidden" name="UnidadeID" value="@u?.UnidadeID" />
                                <button type="submit" 
                                        class="btn btn-sm btn-danger fa-solid fa-trash-can" 
                                        title="Deletar"
                                        onclick="return confirm('Confirma a deleção desta unidade?');"/>
                            </form>

                        </div>
                    </td>
                </tr>
        }

    </tbody>
</table>