@model IList<Switch>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 4%;">Coop</th>
            <th scope="col" class="text-center" style="width: 15%;">Modelo</th>
            <th scope="col" class="text-center" style="width: 20%;">Serial</th>
            <th scope="col" class="text-center" style="width: 42%;">Observações</th>
            <th scope="col" style="width: 10%;">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var f in Model ?? Enumerable.Empty<Switch>())
        {
            <tr>
                <td class="text-center">@f?.Coop?.CoopNumero</td>
                <td class="text-center">@f?.Fabricante?.FabricanteNome - @f?.SwitchModelo</td>
                <td class="text-center">@f?.SwitchSerial</td>
                <td class="text-center">
                    @(f.SwitchBackup ? "Backup" : f?.Unidade?.UnidadeNumero)
                </td>
                <td class="text-center"><p><em><small>@(f?.SwitchObs == null ? "______" : f?.SwitchObs)</small></em></p></td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <form form asp-controller="Switch" asp-action="EditSwitch" method="post">
                            <input type="hidden" name="SwitchID" value="@f?.SwitchID" />
                            <input type="hidden" name="CoopID" value="@f?.CoopID" />
                            <button type="submit" class="btn btn-sm btn-warning fa-solid fa-pen-to-square" title="Editar" />
                        </form>

                        <form asp-controller="Switch" asp-action="DeleteSwitch" method="post">
                            <input type="hidden" name="SwitchID" value="@f?.SwitchID" />
                            <button type="submit"
                                    class="btn btn-sm btn-danger fa-solid fa-trash-can"
                                    title="Delete"
                                    onclick="return confirm('Confirma a deleção deste Switch?');">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>