@model IList<Vlan>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 15%;">Tag</th>
            <th scope="col" class="text-center" style="width: 15%;">Nome</th>
            <th scope="col" class="text-center" style="width: 15%;">Range IP</th>
            <th scope="col" class="text-center" style="width: 40%;">Observações</th>
            <th scope="col" class="text-start" style="width: 15%;">Ações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var v in Model ?? Enumerable.Empty<Vlan>())
        {
            <tr>
                <td class="text-center">@((v?.VlanTag ?? "-"))</td>
                <td class="text-center">@((v?.VlanNome ?? "-"))</td>
                <td class="text-center">@((v?.VlanRangeIP ?? "-"))</td>
                <td class="text-center"><p><em><small>@(v?.VlanObs == null ? "______" : v?.VlanObs)</small></em></p></td>
                <td class="text-end">
                    <div class="d-flex align-items-end gap-2">
                        <form asp-controller="Vlan" asp-action="EditVlan" method="post">
                            <input type="hidden" name="VlanID" value="@v?.VlanID" />
                            <input type="hidden" name="UnidadeID" value="@v?.UnidadeID" />
                            <button type="submit" class="btn btn-sm btn-warning fa-solid fa-pen-to-square" title="Editar" />
                        </form>

                        <form asp-controller="Vlan" asp-action="DeleteVlan" method="post">
                            <input type="hidden" name="VlanID" value="@v?.VlanID" />
                            <button type="submit"
                                    class="btn btn-sm btn-danger fa-solid fa-trash-can"
                                    title="Delete"
                                    onclick="return confirm('Confirma a deleção desta Vlan?');">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        
    </tbody>
</table>