@model Servidor

<div class="card mb-4">
    <div class="card-header">
        <h4 class="mb-0">Cadastro de Servidor</h4>
    </div>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="SaveChanges" method="post">

    <partial name="FeedbackMessage" />

    @* Hidden field for ServidorID *@
    <input type="hidden" asp-for="ServidorID" />
    @* Hidden field for CoopID *@
    <input type="hidden" asp-for="CoopID" />

    <div class="form-group row mb-3">
        <div class="col-md-5 d-flex align-items-center">
            <label class="col-form-label me-2" style="width: 45%">Coop</label>
            <input class="form-control" value="@ViewBag.CoopList" readonly />
        </div>
        <div class="col-md-3 d-flex align-items-center">
            <label asp-for="UnidadeID" class="col-form-label me-2" style="width: 20%"></label>
            <select asp-for="UnidadeID" class="form-control" asp-items="ViewBag.UnidadeList">
                <option value="">Selecione unidade</option>
            </select>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <label asp-for="ServidorNome" class="col-form-label me-2" style="width: 20%"></label>
            <input asp-for="ServidorNome" class="form-control" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="FabricanteID" class="col-form-label me-2" style="width: 35%"></label>
            <select asp-for="FabricanteID" class="form-control" asp-items="ViewBag.FabricanteList">
                <option value="">-- Selecione Fabricante --</option>
            </select>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorModelo" class="col-form-label me-2" style="width: 20%"></label>
            <input asp-for="ServidorModelo" class="form-control"/>
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="SistOpID" class="col-form-label me-2" style="width: 35%"></label>
            <select asp-for="SistOpID" class="form-control" asp-items="ViewBag.SistOpList">
                <option value="">-- Selecione o S.O. --</option>
            </select>
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorSerial" class="col-form-label me-2" style="width: 20%"></label>
            <input asp-for="ServidorSerial" class="form-control" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorCPU" class="col-form-label me-2" style="width: 35%"></label>
            <input asp-for="ServidorCPU" class="form-control" />
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <label asp-for="ServidorRAM" class="col-form-label me-2" style="width: 36%"></label>
            <input asp-for="ServidorRAM" class="form-control" />
        </div>
        <div class="col-md-2 d-flex align-items-center">
            <label class="col-form-label me-2" style="margin-bottom: 0;">Virtual</label>
            <input asp-for="ServidorVirtual" type="checkbox" class="form-check-input" value="true" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorIP" class="form-label" style="width: 35%"></label>
            <input asp-for="ServidorIP" class="form-control" maxlength="20%" />
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorGarantia" class="col-form-label me-2" style="width: 20%"></label>
            <input asp-for="ServidorGarantia" class="form-control" type="date" value="@Model.ServidorGarantia?.ToString("yyyy-MM-dd")" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorIDrac" class="form-label" style="width: 35%"></label>
            <input asp-for="ServidorIDrac" class="form-control" maxlength="15" />
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <label asp-for="ServidorAcesso" class="form-label" style="width: 20%"></label>
            <input asp-for="ServidorAcesso" class="form-control" maxlength="60" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-12 d-flex align-items-center">
            <label asp-for="ServidorObs" class="col-form-label me-2" style="width: 14%"></label>
            <input asp-for="ServidorObs" class="form-control" />
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center gap-2">
        <form asp-action="SaveChanges" method="post" class="mb-0">
            <input type="hidden" asp-for="ServidorID" />
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <form asp-action="ListServidores" method="post" class="mb-0">
            <input type="hidden" name="CoopID" value="@Model.CoopID" />
            <button type="submit" class="btn btn-secondary">Retornar</button>
        </form>
    </div>
</form>