@model ServidorPostModel

<form id="postForm" method="post" action="/Servidor/EditServidor">
    <input type="hidden" name="CoopID" value="@Model.CoopID" />
    <input type="hidden" name="ServidorID" value="@Model.ServidorID" />
</form>

<script>
    document.getElementById('postForm').submit();
</script>