@model Guid

<form id="postForm" method="post" action="/Servidor/ListServidores">
    <input type="hidden" name="coopID" value="@Model" />
</form>

<script>
    document.getElementById('postForm').submit();
</script>