@model SwitchesListViewModel

<div class="card mb-4">
    <div class="card-header">
        <h4>Switches - @Model?.CoopAtual?.DisplayName</h4>
    </div>
</div>

<partial name="FeedbackMessage" />

<partial name="Tabelas/TabelaSwitches" model=@Model?.Switches />

<form form asp-action="EditSwitch" method="post">
    <input type="hidden" name="CoopID" value="@Model?.CoopAtual?.CoopID" />
    <button type="submit" class="align-items-center btn btn-secondary">
        Cadastrar Novo
    </button>
</form>

