@model Guid

<form id="postForm" method="post" action="/Switch/ListSwitches">
    <input type="hidden" name="coopID" value="@Model" />
</form>

<script>
    document.getElementById('postForm').submit();
</script>