@model Coop

<div class="card mb-4">
    <div class="card-header">
        <h4>Editar Coop</h4>
    </div>
</div>

<form asp-action="SaveChanges" method="post">
    @* Hidden field for CoopID *@
    <input type="hidden" asp-for="CoopID" />

    <div class="form-group row mb-3">
        <div class="col-md-4">
            <label asp-for="CoopNumero" class="mb-0" ></label>
            <input asp-for="CoopNumero" class="form-control" readonly />
        </div>
        <div class="col-md-4">
            <label asp-for="CoopNome" class="mb-0" ></label>
            <input asp-for="CoopNome" class="form-control" readonly />
        </div>
        <div class="col-md-4">
            <label asp-for="CoopCidade" class="mb-0"></label>
            <input asp-for="CoopCidade" class="form-control" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-4">
            <label asp-for="RespID" class="mb-0" ></label>
            <select asp-for="RespID" class="form-control" asp-items="ViewBag.RespCoopList">
                <option value="">-- Selecione um responsável --</option>
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="QtdCompts" class="mb-0" ></label>
            <input asp-for="QtdCompts" class="form-control" type="number" />
        </div>
        <div class="col-md-4">
            <label asp-for="Adesao" class="mb-0" ></label>
            <input asp-for="Adesao" class="form-control" type="date" value="@Model.Adesao.ToString("yyyy-MM-dd")" />
        </div>
    </div>

    <div class="d-flex justify-content-end gap-1">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Retornar</a>
    </div>
</form>

