@model Link

<h4>Cadastro de Link</h4>

<form asp-action="SaveChanges" method="post">
    @* Hidden field for LinkID *@
    <input type="hidden" asp-for="LinkID" />
    @* Hidden field for UnidadeID *@
    <input type="hidden" asp-for="UnidadeID" />

    <div class="form-group row mb-3">
        <div class="col-md-2">
            <label class="mb-0">Coop</label>
            <input class="form-control" value="@Model.DisplayCoop" readonly />
        </div>
        <div class="col-md-1">
            <label class="mb-0" style="width: 75%">Unidade</label>
            <input class="form-control" value="@Model.DisplayUnidade" readonly />
        </div>
        <div class="col-md-2">
            <label asp-for="TipoLinkID" class="mb-0"></label>
            <select asp-for="TipoLinkID" class="form-control" asp-items="ViewBag.TipoLinkList">
                <option value="">Selecione o Tipo</option>
            </select>
        </div>
        <div class="col-md-4">
            <label asp-for="LinkProvedor" class="mb-0"></label>
            <input asp-for="LinkProvedor" class="form-control" />
        </div>
        <div class="col-md-3">
            <label asp-for="LinkIP" class="mb-0"></label>
            <input asp-for="LinkIP" class="form-control" placeholder="xxx.xxx.xxx.xxx ou PPPoE" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="col-md-12">
            <label asp-for="LinkObs" class="mb-0"></label>
            <textarea asp-for="LinkObs" class="form-control" rows="4"></textarea>
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center gap-2">
        <form asp-action="SaveChanges" method="post" class="mb-0">
            <input type="hidden" asp-for="LinkID" />
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

        <form asp-controller="Unidade" asp-action="EditUnidade" method="post" class="mb-0">
            <input type="hidden" name="CoopID" value="@Model.Unidade?.CoopID" />
            <input type="hidden" name="UnidadeID" value="@Model.UnidadeID" />
            <button type="submit" class="btn btn-secondary">Retornar</button>
        </form>
    </div>
</form>