@model UnidadePostModel

<form id="postForm" method="post" action="/Unidade/EditUnidade">
    <input type="hidden" name="coopID" value="@Model.CoopID" />
    <input type="hidden" name="UnidadeID" value="@Model.UnidadeID" />
    @Html.AntiForgeryToken()
</form>

<script>
    document.getElementById('postForm').submit();
</script>