@model IEnumerable<RespCoop>

<div class="card mb-4">
    <div class="card-header">
        <h4>Responsáveis</h4>
    </div>
</div>

<partial name="FeedbackMessage" />

<partial name="Tabelas/TabelaResps" model=@Model />

<form asp-controller="Resp" asp-action="EditResp" method="post">
    <button type="submit" class="align-items-center btn btn-secondary">
        Criar novo
    </button>
</form>