@model IEnumerable<RespCoop>

<h4>Responsáveis</h4>

<partial name="FeedbackMessage" />

<partial name="Tabelas/TabelaResps" model=@Model />

<a asp-controller="Resp" asp-action="EditResp" type="button" class="align-items-center btn btn-secondary">
    Criar novo
</a>