@model CoopsListViewModel

<h4>Coops</h4>

<form asp-controller="Home" asp-action="Index" method="post" class="d-flex align-items-center">
    <select id="coopSelecionada" name="coopSelecionada" asp-items="@(new SelectList(Model.ListaCoops))" class="form-control mx-1">
        <option value="">-- Filtrar por responsável --</option>
        @if (Model.CoopAtual != null)
        {
            <option selected>@Model.CoopAtual</option>
        }        
    </select>
    <button type="submit" class="btn btn-secondary">Filter</button>
</form>

<partial name="TabelaCoops" model=@Model />

<div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>