@model CoopsListViewModel

@foreach (var c in Model?.Coops ?? Enumerable.Empty<Coop>())
{
    <div>
        <p>
            <h3>@c.CoopNumero - @c.CoopNome</h3>
        </p>
        @c.CoopCidade
    </div>
}

<div page-model="@Model?.PagingInfo" page-action="Index"></div>