@model CoopsListViewModel

<h4>Coops</h4>

<partial name="FeedbackMessage"/>

<form asp-controller="Home" asp-action="Index" method="post" class="d-flex align-items-center">
    <select id="RespSelecionado" name="RespSelecionado" asp-items="@(new SelectList(Model.ListaResps))" class="form-control mx-1">
        <option value="">-- Todos os responsáveis --</option>
        @if (Model.RespAtual != null)
        {
            <option selected>@Model.RespAtual</option>
        }        
    </select>
    <button type="submit" class="btn btn-secondary">Filter</button>
</form>

<partial name="TabelaCoops" model=@Model />

<div page-model="@Model?.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>