@model CoopsListViewModel

@foreach (var p in Model?.Coops ?? Enumerable.Empty<Coop>())
{
    <div>
        <h3>@p.CoopNumero</h3>
        <h3>@p.CoopNome</h3>
        @p.CoopCidade
    </div>
}

<div page-model="@Model?.PagingInfo" page-action="Index"></div>